button:hover {
    opacity: 0.8;
  }
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button {
    background-color: salmon;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
  }
  .loginform {
    padding: 2em;
  }